@import url('./reset.css');
@import url('./common.css');

/* 
    reset.css (태그 초기화)
    common.css (공통규칙)
    index.css (첫화면 콘텐츠) 
*/


header{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 10;
}
.header-wrap{
    width: 1400px; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-nav{
    display: flex;
    align-items: baseline;
}
.header-nav > h1{
    margin-right: 50px;
}
.header-nav > h1 > a{}
.header-nav > h1 > a > img{}
.header-nav > nav{}
.header-nav > nav > a{
    color: white;
    font-weight: 500;
    padding: 0 25px;
    position: relative;
}
.header-nav > nav > a::after{
    content: '';
    display: block;
    border-bottom: 1px solid white;
    width: 0; transition: 0.5s;
}
.header-nav > nav > a:hover::after{
    width: 100%;
}
.header-icons{}
.header-icons .ic-lang{
    font-family: 'Material Symbols Outlined';
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
}
.header-icons .trigger-menu{
    width: 20px; height: 13px;
    position: relative;
}
.header-icons .trigger-menu > span{
    width: 100%; height: 2px;
    background-color: white;
    position: absolute;
    left: 0; top: 0;
    transition: 0.5s;
}
.header-icons .trigger-menu > span:nth-child(1){
    top: 0;
}
.header-icons .trigger-menu > span:nth-child(2){
    top: 50%;
}
.header-icons .trigger-menu > span:nth-child(3){
    top: 100%;
}

.header-icons .trigger-menu:hover > span:nth-child(1){
    top: 50;
    transform: rotate(45deg);
}
.header-icons .trigger-menu:hover > span:nth-child(2){
    top: 50%;
    opacity: 0;
}
.header-icons .trigger-menu:hover > span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

/* main */

.spot{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.spot > iframe{
    top: 50%; left: 50%; 
    transform: translateX(-50%) translateY(-50%);
    position: absolute; 
    opacity: 1; 
    width: 2435.56px; 
    height: 1370px;
}
.spot > div{
    width: 1400px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.spot > div > b{
    color: white;
    font-size: 3.3rem;
    line-height: 1.4;
}
.spot > div > a{
    color: white;
    position: relative;
    position: absolute;
    bottom: 0; right: 0;
    text-align: right;
    font-size: 0.8rem;
}
.spot > div > a::after{
    content:'arrow_outward, language';
    font-family:'Material Symbols Outlined';
}
.spot > div > a::before{
    content: '';
    border-bottom: 1px solid white;
    position: absolute;
    bottom: 0; right: 0;
    width: 1400px;
}

/* section */
section{
    padding: 100px 0;
}
section > article{
    width: 1400px; margin: 0 auto;
}
section > article > h2{}
section > article > b{
    font-size: 2.2rem;
    line-height: 1.4;
    color: black;
    margin: 45px 0 70px;
}
.con-business{
    display: flex;
}
.con-business > li{
    width: 20%;
}
.con-business > li > a{
    width: 100%;
    position: relative;}
.con-business > li > a > img{width: 100%;}
.con-business > li > a > span{
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90% 0 0px;
    transition: 0.5s;
}
.con-business > li > a:hover > span{
    line-height: 0% 0 16px;
    background-color: rgba(0, 0,0, 0.4);
}

.con-pr{
    display: flex;
    justify-content: space-between;
}
.con-pr > figure{
    position: relative;
    width: 32%;
}
.con-pr > figure > a > img{
    width: 100%;
    transition: 0.5s;
}
.con-pr > figure:hover > a > img{
    transform: scale(1.2);
}
.con-pr > figure > a > span{
    color: white;
    font-size: 1.4rem;
    position: absolute;
    left: 10%; top: 10%;
}

/* section */

.section{overflow: hidden;}
.swiper{
    overflow: visible;
}
.swiper-wrapper img{width: 100%;}
.swiper-pagination{
    left: auto !important;
    right: 0 !important;
    top: -100px !important;
    bottom: auto !important;
    width: auto !important;
}
.swiper-slide{
    opacity: 0.3;
}
.swiper-slide-active{
    opacity: 1;
}


/* text */

footer{
    background:url(../img/bg_footer.jpg) 0 0 / 100%;
    padding: 100px 0;
    color: white;
    display: flex;
}

