@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100..700,0,0');
/* font-family: 'Material Symbols Outlined'; */

/* arrow_outward, language */


html{
    font-size:20px;
    font-family: "Noto Sans KR", serif;
    line-height: 1.7;
    color:#333;
}
body{ margin:0; }
h1,h2,h3,h4,p,figure{margin:0;}
ul,li,ol{
    margin:0; padding:0;
    list-style: none;
}
dl,dt,dd{ margin:0; padding:0;}
img{border:none; vertical-align: middle;}
a{
    color:#333;  
    text-decoration: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
input,select,textarea{
    margin:0; padding:0;
    font-family: inherit;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*::before,
*::after{
    display: inline-block;
    vertical-align: middle;
}

span,i,em,b,strong,code,a{
    display: inline-block;
    vertical-align: middle;
}